*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #e2e2e2;
}
.header{
	width: 100%;
	height: 60px;
	background: white;
	font-family: "Segoe UI";
}
.header .logo{
	font-size: 25px;
	padding-top: 10px;
	padding-left: 150px;
	text-transform: uppercase;
}
.header .logo .logoP1{
	color: green;
	float: left;
}
.header .logo .accountAccess{
	float: right;
	font-family: "Segoe UI";
	padding-right: 50px;
}
.header .logo .accountAccess a{
	font-size: 15px;
	text-decoration: none;
	color: black;
	opacity: 0.7;
	padding: 15px;
	font-weight: 500;
}
.header .logo .accountAccess .signUp:hover{
	color: green;
}
.header .logo .accountAccess .active{
	background: green;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}
.header .logo .accountAccess .active:hover{
	background: darkgreen;
}
.section1 .categories{
	padding-top: 5px;
}
.section1 .categories a{
	text-decoration: none;
	color: black;
	font-family: "Segoe UI";
	padding-left: 50px;
	font-size: 20px;
	padding-bottom: 10px;
}
.section1 .categories a:hover{
	color: green;
}
.section1 .categories input[type=text],input[type=submit]
{
	padding: 5px;
	font-size: 17px;
	border: none;
	float: right;
	margin-right: 15px;
}
.section1 .categories input[type=submit]
{
	background: green;
	color: white;
	border-radius: 5px;
	width: 100px;
	height: 35px;
}
.section1 .categories input[type=text]
{
	height: 35px;
	width: 300px;
	border-radius: 10px;
	background: white;
}
.section1 .categories .searchButton:hover
{
	background: darkgreen;
}
.section2 {
	padding-top: 20px;
}
.section2 .advertisement{
	position: relative;
    text-align: center;
    color: black;
}
.section2 .advertisement img{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	height: 650px;
}
.section2 .advertisement img:hover{
	opacity: 0.4;
	transition: 0.3s;
}
.section2 .advertisement .centeredText{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: "Segoe UI";
	font-size: 30px;
	opacity: 0.7;

}
.section3{
	font-family: "Segoe UI";
}
.section3 .categoryHeaders{
	display: block;
	margin-top: 50px;
	font-size: 25px;
	color: black;
	padding-left: 15px;
}
.section3 .categoryContainerBody{
	width: 100%;
	height: 300px;
	background: white;
}
.footer{
	margin-top: 30px;
	width: 100%;
	height: 300px;
	background: black;
	opacity: 0.7;
	font-family: "Segoe UI";
	color: white;
}
.footer .leftFooter{
	float: left;
	padding-left: 100px;
	width: 25%;
}
.footer .copyright{
	text-align: center;
	padding-top: 250px;
	width: 25%;
}
.footer .rightFooter{
	float: right;
	width: 25%;
	padding-right: 100px;
	padding-top: 20px;
	font-size: 25px;
}
.footer .rightFooter .signUpFooter{
	text-decoration: none;
	padding: 5px;
	background: green;
	color: white;
	border-radius: 10px;
}
.footer .rightFooter .signUpFooter:hover{
	background: darkgreen;
}
.footer .rightFooter .aboutUs{
	text-decoration: none;
	padding: 5px;
}
.section3 .categoryContainerBody .categoryApp{
	float: left;
	font-size: 12px;
	width: 400px;
	height: 285px;
	padding: 20px;
	text-align: center;
	font-family: "Segoe UI";
	font-size: 18px;
	color: black;
}
.section3 .categoryContainerBody .categoryApp img{
	width:280px;
	height: 180px;
	position: center;
}
.section3 .categoryContainerBody .categoryApp label{
	display: block;
	padding-top: : 5px;
}
.section3 .categoryContainerBody .categoryApp:hover{
	background: #f2f2f2;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position:relative;
  margin-left:900px;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

/*input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}*/

/*input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}*/

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff;
}